//Tipografia
$fuente-principal: 'Montserrat', sans-serif;
$fuente-secundaria: 'IBM Plex Sans', sans-serif;

//Colores Primera paleta
$morado: #A36CD9;
$azul: #1A80D9;
$azulclaro: #1EA4D9;
$crema: #F2DCC2;

//Segunda Paleta
$blanco: #fff;
$negro: #000;
$magenta: #F272EA;
$magentaclaro:#F2A7ED;
$grism:#D5D7F2;
$verdeoscuro: #04BFAD;
$verdeneon: #05F240;


